<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un item parfait</title>
    <link rel="icon" href="/static/favicon.ico">
</head>
<body>
    <h1>Ajouter un item parfait</h1>
    <form action="/add_perfect_item" method="post">
        <label>Nom: <input type="text" name="name"></label><br>
        <label>Catégorie: <input type="text" name="categorie"></label><br>
        <label>Niveau: <input type="number" name="level"></label><br><br>
        {% for category, stats in categories.items() %}
            <h3>{{ category }}</h3>
            <table border="1" cellpadding="5">
                <tr>
                    <th>Stat</th>
                    <th>Valeur</th>
                </tr>
                {% for stat in stats %}
                <tr>
                    <td>{{ stat }}</td>
                    <td><input type="number" name="stat_{{ stat | replace(' ', '_') }}"></td>
                </tr>
                {% endfor %}
            </table>
            <br>
        {% endfor %}

        <button type="submit">Ajouter</button>
    </form>
</body>
</html>
