<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico">
</head>
<body>
    <h1>Connexion</h1>
    {% if error %}
    <p style="color:red">{{ error }}</p>
    {% endif %}
    <form method="post" action="/login">
        <label>Utilisateur: <input type="text" name="username"></label><br>
        <label>Mot de passe: <input type="password" name="password"></label><br>
        <button type="submit">Se connecter</button>
    </form>
</body>
</html>
